@import './fonts.css';

:root {
  font-family: 'ZenDots', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  font-weight: normal;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  position: fixed;
  height: 64px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
}

nav a{
  color: whitesmoke;
  text-decoration: none;
  opacity: 0;
}

nav a.visible{
  opacity: 1;
}

#nav_title{
  position: absolute;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 800;
  transform: scaleY(1.2);
  letter-spacing: 0.4rem;
  margin-right: -0.4rem; /* counter letter spacing*/
  word-spacing: 1rem;

  transition: 
    opacity 500ms ease-out,
    transform 3000ms ease;
}

#nav_title span{
  display: inline-block;
}

#nav_title.animate{
  /* 
    transform: -view width + half container width + canvas padding 
    transition-delay: immediate opacity fade, delay translate
  */
  transform: translateX(calc(-49vw + 50% + 10px));
  transition-delay: 0ms, 1000ms;
}

#nav_title.lock{
  transition: none; /* clear transition to lock in-place after anim */
}

.nav_links{
  position: absolute;
  right: 2vw;

  display: flex;
  gap: 0.5rem;
}

.nav_links a{
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: black;
  border-radius: 12px;
  font-size: 1rem;

  transition:
    opacity 500ms ease-out,
    color 200ms ease,
    background-color 200ms ease;
}

.nav_links a:hover{
  color: black;
  background-color: whitesmoke;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.canvasbox{
  margin-top: 64px; 
  box-sizing: border-box;
  padding: 10px;
  height: calc(100vh - 64px); 
  width: 100%;
  
  display: flex;
}

#three-canvas {
  flex: 1;
  display: block;
  border-radius: 12px;
}