@import './fonts.css';

:root {
  font-family: 'ZenDots', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  font-weight: normal;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  position: fixed;
  height: 64px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
}

nav a{
  color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
  font-size: normal;
  font-weight: 800;
  transform: scaleY(1.2);
  letter-spacing: 0.4rem;
  word-spacing: 1rem;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.canvasbox{
  margin-top: 64px; 
  box-sizing: border-box;
  padding: 10px;
  height: calc(100vh - 64px); 
  width: 100%;
  
  display: flex;
}

#three-canvas {
  flex: 1;
  display: block;
  border-radius: 12px;
}