@import './fonts.css';

:root {
  font-family: 'ZenDots', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  font-weight: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  position: fixed;
  height: 10%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
}

nav a{
  color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
  font-size: normal;
  font-weight: 800;
  transform: scaleY(1.2);
  letter-spacing: 0.4rem;
  word-spacing: 1rem;
}

body {
  margin-top: 10%;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.appcontent {
  color: #888;
}